.help-modal-layer {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1001;
  text-align: center;

.settings-modal {
    height: 100vh;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    color: white;

  .closeSettingsModal {
      position: fixed;
      right: 25px;
      top: 20px;
  }

  .split {
    content: '';
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: white;
    max-width: 600px;
    
}


  .dark-theme-cont, .contrast-theme-cont, .contact-theme-cont {
      position: relative;
      display: inline-flex;
      width: 100%;
      padding: 0 0 0 20px;

      .dark, .contrast, .feedback {
        font-size: 1em;
      }

      a {
        position: absolute;
        right: 40px;
        top: 10px;
        color: grey;
      }
  }

  .switch-container {
      position: absolute;
      right: 40px;
      top: 20px;
      width: fit-content;
      float: right;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 24px;
      top: -8px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(77, 77, 77);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(35, 161, 35);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(35, 161, 35);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

}

.light {
  background-color: white;
  color: black !important;

  .split {
    background-color: grey !important
  }
}