.letter-entry {
    width: 19%;
    height: 90%;
}


.letter-entry.yellow {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation: flip-with-scale 1s, yellowAnimation 2s ease-in;
    animation-fill-mode: forwards;
}

.letter-entry.green {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation: flip-with-scale 1s, greenAnimation 2s ease-in;
    animation-fill-mode: forwards;
}

.letter-entry.blue {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation: flip-with-scale 1s, blueAnimation 2s ease-in;
    animation-fill-mode: forwards;
}

.letter-entry.gray {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation: flip-with-scale 1s, grayAnimation 2s ease-in;
    animation-fill-mode: forwards;
}


.letter-entry.orange {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation: flip-with-scale 1s, orangeAnimation 2s ease-in;
    animation-fill-mode: forwards;
}


.letter-entry.orange:nth-child(1), .letter-entry.blue:nth-child(1), .letter-entry.green:nth-child(1), .letter-entry.gray:nth-child(1), .letter-entry.yellow:nth-child(1) {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation-delay: 300ms;
}

.letter-entry.orange:nth-child(2), .letter-entry.blue:nth-child(2), .letter-entry.green:nth-child(2), .letter-entry.gray:nth-child(2), .letter-entry.yellow:nth-child(2) {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation-delay: 600ms;
}

.letter-entry.orange:nth-child(3), .letter-entry.blue:nth-child(3), .letter-entry.green:nth-child(3), .letter-entry.gray:nth-child(3), .letter-entry.yellow:nth-child(3) {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation-delay: 900ms;
}

.letter-entry.orange:nth-child(4), .letter-entry.blue:nth-child(4), .letter-entry.green:nth-child(4), .letter-entry.gray:nth-child(4), .letter-entry.yellow:nth-child(4) {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation-delay: 1200ms;
}

.letter-entry.orange:nth-child(5), .letter-entry.blue:nth-child(5), .letter-entry.green:nth-child(5), .letter-entry.gray:nth-child(5), .letter-entry.yellow:nth-child(5) {
    /* animation-delay: calc(attr(data-count) * 150ms); */
    animation-delay: 1500ms;
}


@keyframes flip-with-scale {
    0% {
        transform: perspective(400px) scaleY(1);
    }
    
    50% {
        transform: perspective(400px) scaleY(0);
    }

    90% {
        transform: perspective(400px) scaleY(1);
    } 

}



@keyframes greenAnimation {
    0% {
        background-color: none;  
    }
    100% {
        background-color: rgb(35, 161, 35);
    }
}

@keyframes yellowAnimation {
    0% {
        background-color: none;  
    }
    100% {
        background-color: rgb(236, 204, 17);
    }
}


@keyframes orangeAnimation {
    0% {
        background-color: none;  
    }
    100% {
        background-color: rgb(255, 120, 30);
    }
}

@keyframes grayAnimation {
    0% {
        background-color: none;  
    }
    100% {
        background-color: rgb(145, 145, 145);
    }
}


@keyframes blueAnimation {
    0% {
        background-color: none;  
    }
    100% {
        background-color: rgb(70, 156, 255);
    }
}


.yellow-key {
    background-color: rgb(236, 204, 17) !important;
}

.green-key {
    background-color: rgb(35, 161, 35) !important;
}

.orange-key {
    background-color: rgb(255, 120, 30) !important;
}

.blue-key {
    background-color: rgb(70, 156, 255) !important;
}

.gray-key {
    background-color: rgb(97, 97, 97) !important;
}