.nav {
    height: 50px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    flex-direction: row;
    overflow-x: hidden;
    border-bottom: 1px solid gray;
    position: relative;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    z-index: 1000;

    .n {
        max-width: 40vw;
        margin: 0 auto;
    
        .wordle-title-nav {
            display: inline-flex;
            margin: 0;
            font-size: 1.5em;
            z-index: 1;
        }

        .light {
            color: black
        }
        
        .left-side-navs {
            position: absolute;
            left: 20px;
            top: 10px;
            color: gray;

            ul {
                display: flex;
                align-content: space-between;
                margin: 0;
                list-style: none;
                padding: 0;

                li {
                    margin: 0 20px 0 0
                }
            }
        }

        .right-side-navs {
            position: absolute;
            right: 20px;
            top: 10px;
            color: gray;

            ul {
                display: flex;
                align-content: space-between;
                margin: 0;
                list-style: none;

                li {
                    margin: 0 0 0 20px;
                }
            }
        }
    }
}